.header {
    background-color: #008b8b;

    .header__container {
        max-width: 900px;
        margin: 0 auto;
        padding: 30px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            width: 100px;
        }

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .navbar__link {
                font-size: 22px;
                text-transform: Capitalize;
                letter-spacing: 2px;
                cursor: pointer;
                font-weight: 300;
                color: white;
                margin: 0;
            }
        }
    }
}